<main class="loans">
  <section class="loans--container">
    <h1>Loan Management</h1>

    <form class="loan-form" (ngSubmit)="createLoan()">
      <mat-form-field appearance="outline">
        <mat-label>Applicant</mat-label>
        <input
          matInput
          [(ngModel)]="newLoan.applicantName"
          name="applicantName"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="newLoan.amount"
          name="amount"
          required
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Create Loan
      </button>
    </form>

    <p *ngIf="message" class="message-box">
      {{ message }}
    </p>

    <table
      mat-table
      *ngIf="loans && loans.length > 0"
      [dataSource]="loans"
      class="mat-elevation-z8"
    >
      <!-- Applicant -->
      <ng-container matColumnDef="applicantName">
        <th mat-header-cell *matHeaderCellDef>Applicant</th>
        <td mat-cell *matCellDef="let element">
          {{ element.applicantName }}
        </td>
      </ng-container>

      <!-- Loan Amount -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Loan Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | currency }}
        </td>
      </ng-container>

      <!-- Current Balance -->
      <ng-container matColumnDef="currentBalance">
        <th mat-header-cell *matHeaderCellDef>Current Balance</th>
        <td mat-cell *matCellDef="let element">
          {{ element.currentBalance | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="accent"
            (click)="applyPayment(element.id)"
          >
            Pay
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <p *ngIf="!loans || loans.length === 0">No loans found.</p>
  </section>
</main>
